@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --color-one: #FF8484;
    --color-two: #BBBBBB;
    --color-three: #F7D9C4;
    --color-text: #14191E;
    --color-text2: #777777;
    --color-four: #EFEFEF;
    --font: "DM Sans", sans-serif;
    --color-five: #DCE8EB;
}

body {
    font-family: var(--font);
    color: var(--color-text);
}

.container1 {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    line-height: 3;

}

.container {
    width: 100%;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;

    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;

    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }

}